<div  no-padding>
<button ion-button (click)="llena()"> Llena</button>
    <button [disabled]="!activo" ion-button  color="light" (click)="imprime()">
    <ion-icon name="print"></ion-icon>

  </button>
  <button ion-button color="secondary" (click)="activa()">  
      {{suma()}} 

  </button>
  

  <ion-segment [(ngModel)]="pet">
    <ion-segment-button value="todo">
      <ion-icon name="ios-list"></ion-icon> Ticket
    </ion-segment-button>

  </ion-segment>
</div>

<div [ngSwitch]="pet">
    
 
  <ion-infinite-scroll>
  <ion-list *ngSwitchCase="'todo'" no-padding>
      <ion-input type="text" autofocus (keypress)="hacerVenta($event)" [(ngModel)]="texto"></ion-input>
<ion-item  class="item no-padding"  text-nowrap no-padding *ngFor="let t of servicioArticulo.tickets">
                   <div item-start>
                     {{trunca(t.nombre)}} x {{t.cantidad}}

                   </div>
                   
  <div item-left> 
        {{servicioArticulo.calcular(t.cantidad,t.precio)}}  

    </div>
 
    
    <div item-right>  </div>
      </ion-item>
    </ion-list>
  
  </ion-infinite-scroll>

</div>